@charset "utf-8";

/* Reset */
html,body{width:100%;height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,img,button,select{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,button{font-size:1rem;font-family: ‘Open Sans’, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;}
body{-webkit-text-size-adjust:none;}
img,fieldset{border:0;vertical-align:top;}
li{list-style:none;}


.wrap{position:relative;width:100%;padding:15px 0;text-align:center;box-sizing:border-box;}
header h1{padding:10px 0;font-size:1.6rem;}

.board_wrap{position:relative;width:300px;height:auto;margin:0 auto;padding:10px;background:#f1f1f1;box-sizing:border-box;}
.board_wrap .card_list{width:100%;}
.board_wrap .card_list li{   
    float:left;
    position:relative;
    width:25%;
    box-sizing:border-box;
}
.board_wrap .card_list li .inbx{
    
    display:table;
    table-layout:fixed;
    width:100%;
    height:100%;
    padding:2px;
    box-sizing:border-box;
}
.board_wrap .card_list li .inbx .item {
    overflow:hidden;
    display:table-cell;
    position:relative;
    margin:5px;
    /* background-color:#c9217b !important; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:50% 30%;
    border:1px solid #871456;
    border-radius:5px;
    /* font-weight:bold; */
    text-align:center;
    vertical-align:middle;
    box-sizing:border-box;
}
.board_wrap .card_list li .inbx .item:before {
    position: absolute;
    top:0;
    bottom:0;left:0;right:0;background-color:#c9217b;
    content: '';
}
.board_wrap .card_list li .inbx .item span {
    position: absolute;
    top: 4px;
    left: 4px;
    /* width: 18px;
    height: 18px; */
    color: #fff;
    font-size: 0.7rem;
    /* background: #0a193d;
    border-radius: 50%; */
    text-align: center;
    /* padding: 2px 5px 1px 2px;
    box-sizing: border-box;
    letter-spacing: -.5px; */
}





.board_wrap .card_list li.is_looser .inbx .item {
    /* background: #fff;
    color: #000; */
    color: #666;
   
}
.board_wrap .card_list li.is_looser .inbx .item:before {
    display:none;
}



footer{position:fixed;bottom:0;left:0;right:0;background-color:#f1f1f1;border-top:1px solid #dbdbdb;text-align:center;}
footer strong{color:#848484;font-size:12px;font-weight:normal;line-height:27px;}


@media (max-width:768px) {
    .wrap{padding:15px 10px;}
    .board_wrap{width:100%;}
}
